
body {
    font-family: 'Anton', sans-serif;
    background-color: rgb(232, 228, 228);
    width: 200px; 
    height: 700px;
    margin:0 auto ;
    padding: 30px; 
    border: solid; 
    border-color: rgb(67, 67, 67);
    border-width: 10px;
    border-radius: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}



h1 {
    font-size: 64px;
    margin-top: 30px;
    
    
}
.button-one{
    color:white;
    border-radius: 30px;
    background-color: black;
    height: 50px;
    width: 200px;
    font-size: 24px;
    margin-bottom: 20px
}
input {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
}
.cheklist {
    
    font-size: 30px;
}
.button-two {
    background-color: rgb(232, 228, 228);
    border: 0;
    color:black;
    border-radius: 0px;
    border-color: none;
    background-color: none;
    height: 50px;
    font-size: 16px;
    text-decoration: underline;
    
    
}